:root {
  --red:hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange:hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%) ;
  --fonts: Poppins;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--fonts);
  box-sizing: border-box;
  margin: 0;
  font-size: 1.5rem;
  background-color: var(--very-light-gray);
}

.main {

}

.cards {
  display: grid;
  width: 85%;
  margin: 0 auto;
}

.card {
  box-sizing: border-box;;
  margin-block-end: 20px;
  background-color: white;
  border-radius: 10px;
  border-block-start: 4px solid;
  padding-inline: 30px;
  padding-block-end: 25px;
  box-shadow: 0 12px 20px 0px  hsl(229, 6%, 66%,0.7);
}

.supervisor {
  border-block-start-color: var(--cyan);
}
.team-builder {
  border-block-start-color: var(--red);
}
.karma {
  border-block-start-color: var(--orange);
}
.calculator {
  border-block-start-color: var(--blue);
}

.card img {
  display: block;
  float: right;
}

h3 {
  color: var(--very-dark-blue);
}

.card p {
  font-size: 1.3rem;
  color: var(--grayish-blue);
  padding-inline-end: 10px;
  margin-block-end: 25px;
}

